<!-- -->

<ion-content padding class="animated fadeIn home-page">

<ion-header>
  <ion-navbar color="white" hideBackButton>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
      <!-- <ion-item> -->
        <!-- <ion-icon name="md-calendar" color="primary" item-left></ion-icon> -->
        <!-- <ion-datetime class="no-pl" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="search.date"></ion-datetime> -->
          <div class="logo-nav">
            <!-- <img src="../../assets/img/logo-nav.png" alt=""> -->
          </div>
      <!-- </ion-item> -->
    <!-- <ion-buttons end>
      <button ion-button tappable (click)="presentNotifications($event)">
        <ion-icon name="notifications"></ion-icon>
      </button>
      <button ion-button tappable (click)="goToAccount()">
        <ion-icon name="cog"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>


  <ion-toolbar class="user-profile">
    <ion-grid>
      <ion-row>
        <ion-col col-4>
          <div class="user-avatar">
            <img src="assets/img/avatar.jpg">
          </div>
        </ion-col>
        <ion-col padding-top col-8>
          <h2 ion-text class="no-margin bold text-white">
            {{userData.firstName}}
          </h2>
          <span ion-text color="light">#{{userData.badgeNumber}}</span>
        </ion-col>
      </ion-row>

      <ion-row no-padding class="other-data">
        <!-- <ion-col no-padding class="column">
          <button ion-button icon-left small full color="light" menuClose disabled>
            <ion-icon name="contact"></ion-icon>
            Edit Profile
          </button>
        </ion-col> -->
        <ion-col no-padding class="column">
          <button ion-button icon-left small full color="light" menuClose (click)="logout()">
            <ion-icon name="log-out"></ion-icon>
            Log Out
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-toolbar>
</ion-header>

<!-- 
<div class="align-bottom quarter-op">
  <img src="assets/img/grap-trans.png" alt="">
</div> -->
 




  <!-- <ion-card no-margin margin-bottom class="full-width">
    <ion-item tappable (click)="choosePlace('from')" class="border-bottom">
      <ion-icon name="search" color="primary" item-left></ion-icon>
      <span>{{ search.name }}</span>
    </ion-item>
    <ion-item>
      <ion-icon name="md-calendar" color="primary" item-left></ion-icon>
      <ion-datetime class="no-pl" displayFormat="DD/MM/YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="search.date"></ion-datetime>
    </ion-item>
  </ion-card> -->

    



   <button ion-button icon-start block no-margin color="primary" class="buttonC round align-center"  tappable (click)="openDoor()" [disabled]="disableButton"> 
        <ion-icon class="iconL" name="custom-check" *ngIf="visible"></ion-icon>
        <ion-icon class="iconL" name="custom-door" *ngIf="!visible"></ion-icon>
  </button> 


  
  <!-- tappable (click)="" -->

</ion-content>
